@import '../../scss/_color';

.widget-image{
  
  position: relative;
  overflow: hidden;
  border-radius: 6px;

  > img{
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    transition: transform .15s ease;
  }

  &:hover > img{
    transform: scale(1.1, 1.1);
  }

  .title{
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;

    i {
      display: block;
      font-size: 2em;
    }
  }

  .info{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
  }

  .office-schedules {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 6px;
    margin-left: 6px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    .is-today {
      text-align: center;
      background-color: #eee;
      opactiy: 0.75;
      padding: 0px 0px 0px 0px;
      margin-left: 21px;
      border-radius: 3px;

      h5 {
        color: $black;
        font-weight: bold;
      }
    }

    span {
      color: white !important;
    }

    &__hours {
      p {
        font-size: 1.5em;
        margin: 3px 0px;
        color: $black;
        background-color: $gray-base;
        opacity: 0.75;
        border-radius: 6px;
        font-weight: bold;
      }
      
    }
  }
  
}