$red: #dd4c39;
$red-light: #e68372;
$red-dark: #d33831;

$orange: #f19c42;
$orange-light: #f5bd6e;
$orange-dark: #db8b3b;

$green: #00a65a;
$green-light: #7ac494;
$green-dark: #008d4c;

$blue : #57c0ef;
$blue-light : #7dd5f4;
$blue-dark : #4ba7d0;

$black: #111111;
$black-light: #656565;
$black-dark: #000000;

$gray: #d2d6de;
$gray-base: #eee;
$gray-light: #e1e4e9;
$gray-dark: #b5bac7;
$gray-darker: #555555; 