<div class="js-sidebar-content">
  
  <header class="logo hidden-sm-down">
    <a href="index.html">{{config.name}}</a>
  </header>

  <div class="sidebar-status hidden-md-up">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="thumb-sm avatar float-right">
        <img class="rounded-circle" src="{{accountInfo.imgUrl}}" alt="{{accountInfo.firstName}}">
      </span>
      <!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
      <span class="circle bg-warning fw-bold text-gray-dark">
        {{accountInfo.totalInfo}}
      </span>
      &nbsp;
      <strong>{{accountInfo.firstName}}</strong>&nbsp;{{accountInfo.lastNameInitial}}
      <b class="caret"></b>
    </a>
    <!-- #notifications-dropdown-menu goes here when screen collapsed to xs or sm -->
  </div>
  
  <!-- main notification links are placed inside of .sidebar-nav -->
  <ul class="sidebar-nav">
    <li *ngFor="let menu of sidebarList">
      <a [routerLink]="[menu.route]">
        <span class="icon">
          <i class="{{menu.icon}}"></i>
        </span>
        {{menu.name}}
      </a>
    </li>
  </ul>

</div>
