<div class="widget-table-overflow">
	<table id="bank-list" class="table table-striped table-responsive">
		<thead>
			<tr>
				<th *ngFor="let header of table.header">
					{{header}}
				</th>
				<th>
					Action
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of listItem">
				<td *ngFor="let column of table.body">
					{{item[column]}}
				</td>
				<td>
					<span class="badge item-action detail" (click)="onClickDetail(item)">
						<i class="glyphicon glyphicon-fullscreen"></i>
					</span>
					
					<span class="badge item-action edit"  (click)="onClickEdit(item)">
						<i class="glyphicon glyphicon-edit"></i>
					</span>

					<span class="badge item-action delete"  (click)="onClickDelete(item)">
						<i class="glyphicon glyphicon-trash"></i>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<dialog-modal
	[info]="modalInfo.info"
	[type]="modalInfo.type"
	[actionList]="modalInfo.actionList"
	[modalActions]="modalActions"
	#modalWindow
	>
</dialog-modal>