@import '../../scss/_color';

.checkbox {
	padding-left: 6px;
	padding-right: 3px;
}

.form-actions {
	padding: 10px 20px;
	background-color: $gray-base;
}

#form-bank-officedays {
	margin-left: 30px;
}